# Enable rewriting
RewriteEngine On

# If the requested resource exists as a file or directory, serve it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Otherwise, rewrite all requests to the index.html file
RewriteRule . /index.html [L] 